.box {
  display: inline-block;
  border: 1px solid rgba(183, 43, 226, 0.575);
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  transition: all 0.2s;
}

.off {
  background-color: black;
}

.on {
  background-color: #ff1493;
}

.box:hover {
  background-color: hotpink;
}
